body{

  font-family: 'Lato', sans-serif;
}

.cartas{

  padding-top:15px;
  padding-bottom:15px;
  background-color: white;
  border-bottom: #E0E0E0 solid 1px;
}

.cuadrito{

  padding:15px;

  border: #E0E0E0 solid 1px;

  margin-top:15px;


}


.btn{
  border-radius: 0px!important;
}


.logo{
  position: absolute;
  z-index: 100;
}

.bottom-nav-item{
  bottom: 20
}

.busqueda{
height: 40px;
margin-left:25px;
}

.selector{
  top:10px;

}

.centrado{
  text-align: center;
}

.nav_falabella{
  background-image: url(../../img/fondo_head.png);
  background-repeat: repeat-x;
}

.encabezados{
  margin-top:10px;
}

#inicio{
  background-image: url(../../img/apple-devices-artificial-flowers-business-196658.jpg);
  background-size: cover;
}

.fondo {
  background: rgba(41, 41, 51, 0.609); /* Green background with 30% opacity */
  min-height:100vh;
}


@media (min-width: 320px) and (max-width: 480px) {
  
  .btn{

    font-size: 0.8em;
  }
  
  .busqueda{
    margin-left:0px;
  }

  .logo{
  display:none;
  }

  .nav_falabella{
    background-image: url(../img/fondo_head.png);
    background-repeat: repeat-x;
    background-color: #1a1a1a;
    padding-top: 25px;
  }

  .cuadrito{

    padding:5px;
        margin-top: 5px;
    margin-bottom: 15px;
  }


  .selector{
    top:0px;

    
  
  }

  .fondo {
    background: rgba(41, 41, 51, 0.609); /* Green background with 30% opacity */
    min-height:100vh;
  }
}



/**/


.col-6{
  padding: 5px;
}


